@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-custom-primary: #cdde00;
  --color-custom-secondary: #263d3f;

  --color-primary-white: #f8f8f8;
  --color-secondary-white: #eeeeee;
  --color-primary-black: #282828;
}

@layer daisyui.l1.l2 {
  .step-primary::before,
  .step-primary::after,
  .step-primary > .step-icon {
    --step-bg: var(--color-custom-primary);
    --step-fg: var(--color-primary-black);
  }
}

@layer utilities {
  .hover-overlay {
    @apply relative overflow-hidden;
  }

  .hover-overlay::before {
    content: "";
    @apply absolute inset-0 bg-primary-black/20 opacity-0 transition-all duration-300 ease-in-out;
  }

  .hover-overlay:hover::before {
    @apply opacity-100;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins);
  background-color: var(--color-primary-white);
  color: var(--color-primary-black);
}

button {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: var(
    --color-primary-black
  ) !important; /* tetap hitam */
  transition: background-color 5000s ease-in-out 0s;
}

@theme {
  --animate-radio-active: radio-active 180ms ease-out;

  @keyframes radio-active {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    60% {
      transform: scale(1.2);
      opacity: 1;
    }

    85% {
      transform: scale(1.02);
    }

    100% {
      transform: scale(1);
    }
  }

  --animate-pop-in: pop-in 180ms ease-out;

  @keyframes pop-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    60% {
      transform: scale(1.1);
      opacity: 1;
    }

    85% {
      transform: scale(1.01);
    }

    100% {
      transform: scale(1);
    }
  }

  --animate-reverse-pop-in: reverse-pop-in 180ms ease-out;

  @keyframes reverse-pop-in {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    40% {
      transform: scale(1.1);
      opacity: 1;
    }

    100% {
      transform: scale(0);
      opacity: 0;
    }
  }

  --animate-pop-in-active: pop-in-active 180ms ease-out;

  @keyframes pop-in-active {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }
}
