@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-custom-primary: #cdde00;
  --color-custom-secondary: #28484b;
  --color-custom-surface: #315659;
  --color-custom-border: #3a6265;

  --color-primary-white: #f8f8f8;
  --color-secondary-white: #eeeeee;
  --color-primary-black: #282828;

  --color-custom-blue: oklch(70.7% 0.165 254.624);
  --color-custom-green: oklch(76.5% 0.177 163.223);
  --color-custom-yellow: oklch(82.8% 0.189 84.429);
  --color-custom-purple: oklch(71.4% 0.203 305.504);
  --color-custom-red: oklch(58.6% 0.253 17.585);
}

@layer daisyui.l1.l2 {
  .step-primary::before,
  .step-primary::after,
  .step-primary > .step-icon {
    --step-bg: var(--color-custom-primary);
    --step-fg: var(--color-primary-black);
  }
}

@layer base {
  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="password"]::placeholder,
  input[type="number"]::placeholder,
  input[type="search"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="url"]::placeholder,
  textarea::placeholder {
    font-size: 0.7rem;
    font-weight: 400;
    color: color-mix(in oklch, var(--color-base-content) 50%, transparent);
  }
}

@layer utilities {
  .hover-overlay {
    @apply relative overflow-hidden;
  }

  .hover-overlay::before {
    content: "";
    @apply absolute inset-0 bg-primary-black/20 opacity-0 transition-all duration-300 ease-in-out;
  }

  .hover-overlay:hover::before {
    @apply opacity-100;
  }
}
* {
  box-sizing: border-box;
}

/* Firefox */
* {
  scrollbar-color: var(--color-custom-secondary) var(--color-primary-white);
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-primary-white);
}

::-webkit-scrollbar-thumb {
  background: var(--color-custom-secondary);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-custom-primary);
}

body {
  font-family: var(--font-poppins);
  background-color: var(--color-primary-white);
  color: var(--color-primary-black);
}

button {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: var(
    --color-primary-black
  ) !important; /* tetap hitam */
  transition: background-color 5000s ease-in-out 0s;
}

@theme {
  --animate-radio-active: radio-active 180ms ease-out;

  @keyframes radio-active {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    60% {
      transform: scale(1.2);
      opacity: 1;
    }

    85% {
      transform: scale(1.02);
    }

    100% {
      transform: scale(1);
    }
  }

  --animate-pop-in: pop-in 180ms ease-out;

  @keyframes pop-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    60% {
      transform: scale(1.1);
      opacity: 1;
    }

    85% {
      transform: scale(1.01);
    }

    100% {
      transform: scale(1);
    }
  }

  --animate-reverse-pop-in: reverse-pop-in 180ms ease-out;

  @keyframes reverse-pop-in {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    40% {
      transform: scale(1.1);
      opacity: 1;
    }

    100% {
      transform: scale(0);
      opacity: 0;
    }
  }

  --animate-pop-in-active: pop-in-active 180ms ease-out;

  @keyframes pop-in-active {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }
}

.recharts-surface:focus,
.recharts-surface:focus-visible {
  outline: none !important;
}

.recharts-wrapper:focus,
.recharts-wrapper:focus-visible {
  outline: none !important;
}

.status-custom-blue {
  @layer daisyui.l1.l2 {
    background-color: var(--color-custom-blue) /* var(--color-primary) */;
    color: var(--color-custom-blue) /* var(--color-primary) */;
  }
}

.status-custom-red {
  @layer daisyui.l1.l2 {
    background-color: var(--color-custom-red) /* var(--color-primary) */;
    color: var(--color-custom-red) /* var(--color-primary) */;
  }
}

.status-custom-yellow {
  @layer daisyui.l1.l2 {
    background-color: var(--color-custom-yellow) /* var(--color-primary) */;
    color: var(--color-custom-yellow) /* var(--color-primary) */;
  }
}
.status-custom-purple {
  @layer daisyui.l1.l2 {
    background-color: var(--color-custom-purple) /* var(--color-primary) */;
    color: var(--color-custom-purple) /* var(--color-primary) */;
  }
}
.status-custom-green {
  @layer daisyui.l1.l2 {
    background-color: var(--color-custom-green) /* var(--color-primary) */;
    color: var(--color-custom-green) /* var(--color-primary) */;
  }
}

.progress-custom-primary {
  @layer daisyui.l1.l2 {
    color: var(--color-custom-primary);
  }
}

.tooltip-custom {
  @layer daisyui.l1.l2 {
    --tt-bg: var(--color-neutral);

    > .tooltip-content,
    &[data-tip]::before {
      color: var(--color-primary-white);
      border: 1px solid
        color-mix(in srgb, var(--color-base-content) 15%, transparent);

      height: 3rem;
      width: 14rem;
      min-height: 32px;
      padding-inline: 12px;
      padding-block: 0;
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      line-height: 1;
    }
  }
}

.tooltip-from {
  @layer daisyui.l1.l2 {
    --tt-bg: var(--color-base-100);

    > .tooltip-content,
    &[data-tip]::before {
      color: var(--color-base-content);
      border: 1px solid
        color-mix(in srgb, var(--color-base-content) 15%, transparent);

      height: 3rem;
      width: 14rem;
      min-height: 32px;
      padding-inline: 12px;
      padding-block: 0;
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      line-height: 1;
    }
  }
}

.avatar-non-active {
  @layer daisyui.l1.l2 {
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      display: block;
      border-radius: calc(infinity * 1px);
      background-color: var(--color-error);
      outline: 2px solid var(--color-base-100) /* var(--color-base-100) */;
      width: 15%;
      height: 15%;
      top: 7%;
      right: 7%;
    }
  }
}

.modal {
  @layer daisyui.l1.l2.l3 {
    pointer-events: none;
    visibility: hidden;
    position: fixed;
    inset: calc(0.25rem /* 4px */ * 0) /* 0rem = 0px */;
    margin: calc(0.25rem /* 4px */ * 0) /* 0rem = 0px */;
    display: grid;
    height: 100%;
    max-height: none;
    width: 100%;
    max-width: none;
    align-items: center;
    justify-items: center;
    background-color: transparent;
    padding: calc(0.25rem /* 4px */ * 0) /* 0rem = 0px */;
    color: inherit;
    transition:
      visibility 0.3s allow-discrete,
      background-color 0.3s ease-out,
      opacity 0.1s ease-out;
    overflow: clip;
    overscroll-behavior: contain;
    z-index: 999;
    scrollbar-gutter: auto;
    &::backdrop {
      display: none;
    }
  }
  @layer daisyui.l1.l2 {
    &.modal-open,
    &[open],
    &:target,
    .modal-toggle:checked + & {
      pointer-events: auto;
      visibility: visible;
      opacity: 100%;
      transition:
        visibility 0s allow-discrete,
        background-color 0.3s ease-out,
        opacity 0.1s ease-out,
        backdrop-filter 0.3s ease-out;
      background-color: oklch(0% 0 0 / 0.3);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      .modal-box {
        translate: 0 0;
        scale: 1;
        opacity: 1;
      }
      :root:has(&) {
        --page-has-backdrop: 1;
        --page-overflow: hidden;
        --page-scroll-bg: var(--page-scroll-bg-on);
        --page-scroll-gutter: stable;
        --page-scroll-transition: var(--page-scroll-transition-on);
        animation: set-page-has-scroll forwards;
        animation-timeline: scroll();
      }
    }
    @starting-style {
      &.modal-open,
      &[open],
      &:target,
      .modal-toggle:checked + & {
        opacity: 0%;
      }
    }
  }
}
